@CHARSET "ISO-8859-1";

.modal-body img.img-responsive.img-centered{
	width: 280px;
	
}

.portfolio-caption .portfolio-info ul{
	text-align: left;
	color :#777;
	
}
.portfolio-caption{
	min-height: 337px;
}

.portfolio-caption.smallText{
	min-height: 230px;
}

